<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
     <h1>Graficos</h1>

    <h2>Top 5 Clientes Críticos</h2>
    <div id="grafico"></div>

    <h2>Acciones Empleados</h2>
    <div id="grafico2"></div>

    <h2>Acciones por Dia de la Semana</h2>
    <div id="grafico3"></div>

    <h2>Media de Tiempo Manteninmiento</h2>
    <div id="grafico4"></div>

     <h2>Tiempo de Resolución por Tipo de Incidente</h2>
    <div id="grafico5"></div>


</body>

<script>
        var grafico = JSON.parse({{ grafico | safe }})
        var grafico2 = JSON.parse({{ grafico2 | safe }})
        var grafico3 = JSON.parse({{ grafico3 | safe }})
        var grafico4 = JSON.parse({{ grafico4 | safe }})
        var grafico5 = JSON.parse({{ grafico5 | safe }})


        Plotly.newPlot('grafico', grafico.data, grafico.layout)
        Plotly.newPlot('grafico2', grafico2.data, grafico2.layout)
        Plotly.newPlot('grafico3', grafico3.data, grafico3.layout)
        Plotly.newPlot('grafico4', grafico4.data, grafico4.layout)
        Plotly.newPlot('grafico5', grafico5.data, grafico5.layout)


    </script>
</html>